@model tyuiu.oop.SalienkoMN.VyalikNA.WebAppLibrary.DataModels.Book

@{
    ViewData["Title"] = "Удаление";
}

<h1 style="margin-bottom: 30px">Удаление из базы</h1>

<div>
    <h4>Информация, которую вы собираетесь удалить</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            №Полки
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookShelf)
        </dd>
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Автор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>

    <form asp-action="Delete" style="margin-top: 15px">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
