@model tyuiu.oop.SalienkoMN.VyalikNA.WebAppLibrary.DataModels.User

@{
    ViewData["Title"] = "Вся информация";
}

<h1>Информация о клиенте</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Номер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            Книги
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
