@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 150px">Добро пожаловать в библиотеку</h1>
    <button class="btn-home add-people" style="font-size: 30px; border-radius: 8px;">
        <a asp-area="" asp-controller="Users" asp-action="Index" style="margin: 5px">Добавить человека</a>
    </button>
    <button class="btn-home add-book" style="font-size: 30px; border-radius: 8px;">
        <a asp-area="" asp-controller="Books" asp-action="Index" style="margin: 5px">Перейти к книгам</a>
    </button>
</div>
